USE [master]
GO
/****** Object:  Database [DbProductAI]    Script Date: 15.03.2021 01:42:05 ******/
CREATE DATABASE [DbProductAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbProductAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbProductAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbProductAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbProductAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbProductAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbProductAI]
GO
USE [DbProductAI]
GO
/****** Object:  Table [dbo].[TblProduct]    Script Date: 15.03.2021 01:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[BRAND] [varchar](50) NULL,
	[STOCK] [smallint] NULL,
	[BUYPRICE] [decimal](18, 2) NULL,
	[SELLPRICE] [decimal](18, 2) NULL,
	[CATEGORY] [varchar](50) NULL,
	[DATEADDPRO] [smalldatetime] NULL,
	[PRODUCTCASE] [bit] NULL,
 CONSTRAINT [PK_TblProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblProduct] ON 

INSERT [dbo].[TblProduct] ([ID], [NAME], [BRAND], [STOCK], [BUYPRICE], [SELLPRICE], [CATEGORY], [DATEADDPRO], [PRODUCTCASE]) VALUES (1, N'LCD TV', N'Samsung', 100, CAST(3750.00 AS Decimal(18, 2)), CAST(4800.00 AS Decimal(18, 2)), N'Houseware', CAST(N'2020-03-28T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[TblProduct] ([ID], [NAME], [BRAND], [STOCK], [BUYPRICE], [SELLPRICE], [CATEGORY], [DATEADDPRO], [PRODUCTCASE]) VALUES (2, N'Notebook', N'Asus', 120, CAST(4800.00 AS Decimal(18, 2)), CAST(6200.00 AS Decimal(18, 2)), N'Computer', CAST(N'2020-03-29T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[TblProduct] ([ID], [NAME], [BRAND], [STOCK], [BUYPRICE], [SELLPRICE], [CATEGORY], [DATEADDPRO], [PRODUCTCASE]) VALUES (3, N'Computer', N'DELL', 63, CAST(45.00 AS Decimal(18, 2)), CAST(65.00 AS Decimal(18, 2)), N'Computer', CAST(N'2021-02-06T00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[TblProduct] OFF
GO
USE [master]
GO
